/* General Layout */
body {
    padding-top: 120px;
    padding-bottom: 240px;
    text-align: left;
    background-color: #2B3E50;
}

.main-table {
    margin-top: 10px;

}

/* Main Table */

.table td {
    vertical-align: middle;
    margin-top: 10px;
}
/* Pagination Links */

ul.pagination {
    display: inline-block;
}

ul.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
}

ul.pagination li.active {
    background-color: #868e96;
    color: white;
    border-radius: 5px;
}

ul.pagination li:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.block {
    margin-left: 40%;
}

.box-card {
    width: 100%;
    margin-top: 100px;
}
